<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jugador View</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <h1>Jugador View</h1>
    <ul>
        <li>Nombre: <span th:text="${jugador.nombre}"></span></li>
    </ul>

    <h2>Barcos Asociados</h2>
    <ul th:if="${barcosJugador != null and not #lists.isEmpty(barcosJugador)}">
        <table>
                <thead>
                    <tr>
                        <th>ID Barco</th>
                        <th>Nombre</th>
                        <th>Modelo</th>
                        <th>Velocidad X</th>
                        <th>Velocidad Y</th>
                        <th>Posición X</th>
                        <th>Posición Y</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="barco : ${barcosJugador}">
                        <td th:text="${barco.id}"></td>
                        <td th:text="${barco.nombre != null ? barco.nombre : 'Sin nombre'}"></td>
                        <td th:text="${barco.nombreModeloBarco != null ? barco.nombreModeloBarco : 'Sin modelo'}"></td>
                        <td th:text="${barco.velocidadX}"></td>
                        <td th:text="${barco.velocidadY}"></td>
                        <td th:text="${barco.posicionX}"></td>
                        <td th:text="${barco.posicionY}"></td>
                    </tr>
                </tbody>
            </table>
    </ul>
    
    <div class="header-actions">
        <a th:href="@{/jugador/list}" class="btn btn-secondary" style="margin-top: 20px; display: inline-block;">
            Volver
        </a>
    </div>
</body>
</html>