<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda de Modelos</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <h1>Busqueda de Modelos</h1>

    <form method="get" action="#" th:action="@{/modelo/search}">
        <label for="txtSearchText">Buscar por Nombre:</label>
        <input type="text" name="searchText" id="txtSearchText" th:value="${param.searchText}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
<div class="header-actions">
        <a href="/modelo/create" class="btn btn-primary btn-icon btn-create">Crear Nuevo Modelo</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Modelo</th>
                <th>Color</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="modelo : ${listaModelos}">
                <td th:text="${modelo.id}"></td>
                <td th:text="${modelo.nombreModelo}"></td>
                <td th:text="${modelo.color}"></td>
                <td>
                    <a th:href="@{/modelo/view/{id}(id=${modelo.id})}">ver</a>
                </td>
                <td>
                    <a th:href="@{/modelo/edit/{id}(id=${modelo.id})}">editar</a>
                </td>
                <td>
                    <a th:href="@{/modelo/delete/{id}(id=${modelo.id})}">eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>