<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<body>
<section>
    <h2 th:text="${player.id} != null ? 'Editar jugador' : 'Nuevo jugador'"></h2>
    <form th:action="${player.id} != null ? @{'/players/' + ${player.id}} : @{/players}" method="post" th:object="${player}">
        <label>Usuario <input th:field="*{username}" required></label><br>
        <label>Nombre <input th:field="*{displayName}" required></label><br>
        <button>Guardar</button> <a th:href="@{/players}">Cancelar</a>
    </form>
</section>
</body>
</html>