<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<body>
<section>
    <h2>Jugadores</h2>
    <a th:href="@{/players/new}">Nuevo</a>
    <table class="table">
        <thead><tr><th>ID</th><th>Usuario</th><th>Nombre</th><th></th></tr></thead>
        <tbody>
        <tr th:each="p : ${players}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.username}"></td>
            <td th:text="${p.displayName}"></td>
            <td class="actions">
                <a th:href="@{|/players/${p.id}|}" class="btn">Ver</a>
                <a th:href="@{|/players/${p.id}/edit|}" class="btn">Editar</a>
                <form th:action="@{|/players/${p.id}/delete|}" method="post" class="js-delete" style="display:inline">
                    <button class="btn">Borrar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>