<h2>Lista de Barcos</h2>

<div *ngIf="cargando">Cargando barcos...</div>

<table *ngIf="!cargando" border="1" cellpadding="5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Color</th>
      <th>Resistencia</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of boats">
      <td>{{ b.id }}</td>
      <td>{{ b.nombre }}</td>
      <td>{{ b.color }}</td>
      <td>{{ b.resistencia }}</td>
      <td>
        <button (click)="eliminar(b.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
