<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<body>
<section>
    <h2>Barcos</h2>
    <a th:href="@{/boats/new}">Nuevo</a>
    <table class="table">
        <thead><tr><th>ID</th><th>Modelo</th><th>Dueño</th><th>v=(vx,vy)</th><th>p=(x,y)</th><th></th></tr></thead>
        <tbody>
        <tr th:each="b : ${boats}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.model.name}"></td>
            <td th:text="${b.owner.username}"></td>
            <td>(<span th:text="${b.vx}"></span>,<span th:text="${b.vy}"></span>)</td>
            <td>(<span th:text="${b.x}"></span>,<span th:text="${b.y}"></span>)</td>
            <td class="actions">
                <a th:href="@{|/boats/${b.id}|}" class="btn">Ver</a>
                <a th:href="@{|/boats/${b.id}/edit|}" class="btn">Editar</a>
                <form th:action="@{|/boats/${b.id}/delete|}" method="post" class="js-delete" style="display:inline">
                    <button class="btn">Borrar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>