<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<body>
<section>
    <h2 th:text="${gameMap.id} != null ? 'Editar mapa' : 'Nuevo mapa'"></h2>
    <form th:action="${gameMap.id} != null ? @{'/maps/' + ${gameMap.id}} : @{/maps}" method="post" th:object="${gameMap}">
        <label>Nombre <input th:field="*{name}" required></label><br>
        <label>Ancho <input type="number" th:field="*{width}" required min="5" max="50"></label><br>
        <label>Alto <input type="number" th:field="*{height}" required min="5" max="50"></label><br>
        <label>Grid (separar filas con nueva línea):
            <textarea th:field="*{grid}" rows="10" cols="50" required 
                      placeholder="Ejemplo:&#10;P   &#10; XXX&#10; XX &#10; M  "></textarea>
        </label><br>
        <small>Usa: 'P' = Partida, 'X' = Pared, 'M' = Meta, ' ' = Agua</small><br>
        <button>Guardar</button> <a th:href="@{/maps}">Cancelar</a>
    </form>
</section>
</body>
</html>