<h1>Lista de Jugadores</h1>
<div class="header-actions">
    <a [routerLink]="['/jugador/create']" class="btn-create">+ Crear Nuevo Jugador</a>
</div>
<ul>
    @for(j of jugadores(); track $index) {
        <li>
            <span>{{j.id}} - {{j.nombre}}</span>
            <div class="actions">
                <a [routerLink]="['/jugador/view', j.id]">Ver</a>
                <a [routerLink]="['/jugador/edit', j.id]">Editar</a>
                <button class="btn-delete" (click)="eliminar(j.id, j.nombre)">Eliminar</button>
            </div>
        </li>
    }
</ul>
