<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<body>
<section>
    <h2 th:text="${modelDto.id} != null ? 'Editar modelo' : 'Nuevo modelo'"></h2>
    <form th:action="${modelDto.id} != null ? @{'/models/' + ${modelDto.id}} : @{/models}" method="post" th:object="${modelDto}">
        <label>Nombre <input th:field="*{name}" required></label><br>
        <label>Color HEX <input th:field="*{colorHex}" pattern="#[0-9A-Fa-f]{6}" required></label><br>
        <button>Guardar</button> <a th:href="@{/models}">Cancelar</a>
    </form>
</section>
</body>
</html>