<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<body>
<section>
    <h2>Modelo</h2>
    <p><strong>ID:</strong> <span th:text="${modelDto.id}"></span></p>
    <p><strong>Nombre:</strong> <span th:text="${modelDto.name}"></span></p>
    <p><strong>Color:</strong> <span id="color-preview" class="badge" th:style="${'background:'+modelDto.colorHex}"></span> <span th:text="${modelDto.colorHex}"></span></p>
    
    <div class="actions">
        <a th:href="@{|/models/${modelDto.id}/edit|}" class="btn">Editar</a>
        <a th:href="@{/models}" class="btn">Volver a la lista</a>
    </div>
</section>
</body>
</html>