<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (content)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regata — Entrega 1</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script defer th:src="@{/js/app.js}"></script>
</head>
<body>
<header class="container">
    <h1>Regata — Entrega 1</h1>
    <nav class="nav">
        <a th:href="@{/game}" class="nav-game">🎮 JUGAR</a>
        <a th:href="@{/players}">Jugadores</a>
        <a th:href="@{/models}">Modelos</a>
        <a th:href="@{/boats}">Barcos</a>
        <a th:href="@{/maps}">Mapas</a>
    </nav>
    <hr>
    <div class="alerts">
        <div class="alert alert-error" th:if="${error}" th:text="${error}"></div>
        <div class="alert alert-success" th:if="${msg}" th:text="${msg}"></div>
    </div>
</header>
<main class="container" th:replace="${content}"></main>
<footer class="container muted">MPA • Spring MVC • JPA • H2</footer>
</body>
</html>